<form class = 'form form_book' autocomplete = 'on' action = 'https://formcarry.com/s/{{ site.formcarry }}' method = 'POST' accept-charset = 'UTF-8'>
  <label for = 'name' class = 'form__label'>Name</label>
  <input type = 'text' id = 'name' name = 'name' placeholder = 'Full Name' autocomplete = 'name' class = 'form__input name' required>
  <label for = 'telephone' class = 'form__label'>Mobile</label>
  <input type = 'tel' id = 'telephone' name = 'telephone' placeholder = 'Mobile' autocomplete = 'tel-national' class = 'form__input tel'>
  <label for = 'email' class = 'form__label'>Email</label>
  <input type = 'email' name = 'email' placeholder = 'you@awesome.com' autocomplete = 'email' class = 'form__input email' required>
  <label for = 'message' class = 'form__label'>Message</label>
  <textarea id = 'message' name = 'message' placeholder = 'Enter your request here' class = 'form__input form__input--message message'></textarea>
  <input type="text" name="_gotcha" style="display:none" />
  <input type = 'submit' value = 'SUBMIT' class = 'form__input form__input--submit'>
</form>