<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {% include head.html %}
</head>
<body class="w-100 bg-black unfixed-nav-padding">
  <header class="w-100 bg-black c-white">
    <a href="https://medium.com/@chaininc/chain-and-stellar-are-joining-forces-ecd44fb4c474" target="_blank"></a>
    <div class="pt3 ph3 ph5-sm ph6-m">
      <div class="dt mw9 center w-100 navbar">
        <a href="/" class="pv3 dib logo">
           <img src='/assets/logo.png'/>
           <!-- YorkMetrics -->
          </a>
        <div class="nav-trigger">
          <input type="checkbox" id="mobile-menu" />
          <label class="nav-trigger__icon nav-trigger__icon" for="mobile-menu"><span></span></label>
        </div>
        <ul class="nav color-links">
          <li class="nav__item"><a href="/" class="fw-500 font_small"><span class="">Home</span></a></li>
          <li class="nav__item"><a href="/about" class="fw-500 font_small"><span class="">About Us</span></a></li>
          <li class="nav__item"><a href="/contacts" class="fw-500 font_small"><span class="">Contact</span></a></li>
        </ul>
      </div>
    </div>
  </header>
  <section>
    <article class="vh-100-minus-nav dt w-100 bg-black ph3 ph5-sm ph6-m white">
      <div class="dtc v-mid">
        <div class="mw9 center w-100">
          <h1 class="fw-600 f-headline lh-blink f-headline-m white pt4 pt0-m"><span class="db dib-m pr3">Digitize </span><div class="relative dib"> <span class="c-aqua font-nitti tracked-terminal typewrite lh-solid dib-m" data-period="2000" data-type='[ "currencies", "securities", "deposits", "bonds" ]'><div class="wrap dib"></div> </span><div class="cursor"></div></div> <span class="db">with Sequence</span></h1>
          <div class="cf pb4">
            <p class="f4 f3-sm c-white pb5 pt3 pt0-sm measure">Sequence is cloud blockchain infrastructure that enables organizations to build better financial services from the ground up.</p>
            <div class="pt2">
              <div class="fl-sm pr3-sm">
                <a href="/contact-us/" onclick="homepage_download()" class="btn mb0-m mb3">Contact Us</a>
              </div>
              <!-- <div class="fl-sm"> <a href="/sequence" class="btn btn--dark">Learn More</a></div> -->
            </div>
          </div>
        </div>
        <!-- <a href="https://github.com/chain" target="blank" class="lighten-links pt3 mb5 dib font_small arrow-hover">
          <svg class='icon mr2' fill="#fff">
            <use xlink:href="#github" />
          </svg> Visit us on Github</a> -->
        </article>
      </section>
      <section class="cf bg-black white w-100 ph3 ph5-sm ph6-m">
        <div class="grid">
          <div class="cf dt mw9 center w-100 pv5 opacity-60">
            <div class="fl w-50 w-25-sm pa3-sm pa2 logo--small"> 
              <img src='/assets/logo.png' />
              <p class="font_mini p-t20 currentcolor">© 2018 {{ site.title }} Inc</p>
            </div>
            <div class="fl w-50 w-25-sm pa3-sm pa2">
              <h3 class="font-nitti tracked currentcolor ttu fw-600 font_mini pt0">Company</h3>
              <ul class="pt3 font_small lighten-links">
                <li class=""><a href="/about">About</a></li>
                <li class="pt2"><a href="/press">Press</a></li>
                <li class="pt2"><a href="/careers">Careers</a></li>
                <li class="pt2"><a href="/contact">Contact</a></li>
                <li class="pt2"><a href="/legal">Legal</a></li>
              </ul>
            </div>
            <div class="fl w-50 w-25-sm pa3-sm pa2 pt5 pt3-sm">
              <h3 class="font-nitti tracked currentcolor ttu fw-600 font_mini pt0">Community</h3>
              <ul class="pt3 font_small lighten-links">
                <li class="">
                  <a href="http://slack.chain.com">
                    <svg fill="currentcolor" class='icon mr3'>
                      <use xlink:href="#slack" />
                    </svg>Slack</a>
                  </li>
                  <li class="pt2">
                    <a href="http://blog.chain.com">
                      <svg fill="currentcolor" class='icon mr3'>
                        <use xlink:href="#medium" />
                      </svg>Blog</a>
                    </li>
                    <li class="pt2">
                      <a href="http://github.com/chain">
                        <svg fill="currentcolor" class='icon mr3'>
                          <use xlink:href="#github" />
                        </svg>Github</a>
                      </li>
                      <li class="pt2">
                        <a href="http://twitter.com/chain">
                          <svg fill="currentcolor" class='icon mr3'>
                            <use xlink:href="#twitter" />
                          </svg>Twitter</a>
                        </li>
                        <li class="pt2">
                          <a href="http://linkedin.com/company/chain-inc-">
                            <svg fill="currentcolor" class='icon mr3'>
                              <use xlink:href="#linkedin" />
                            </svg>LinkedIn</a>
                          </li>
                        </ul>
                      </div>
                      <div class="fl w-50 w-25-sm pa3-sm pa2 pt5 pt3-sm lighten-links">
                        <h3 class="font-nitti tracked currentcolor ttu fw-600 font_mini pt0">Developers</h3>
                        <ul class="pt3 font_small">
                          <li class=""><a href="https://dashboard.seq.com/start">Sign Up</a></li>
                          <li class="pt2"><a href="https://dashboard.seq.com/login">Log In</a></li>
                          <li class="pt2"><a href="https://dashboard.seq.com/docs">Documentation</a></li>
                          <li class="pt2"><a href="https://dashboard.seq.com/docs/5-minute-guide">5-Minute guide</a></li>
                          <li class="pt2"><a href="/support">Support</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
                <script src="/assets/main.js"></script>
                {%- include analytics.html -%}
              </body>
              </html>